/**
*
*
**/

body {
  background: #f2f2f2;
}

.header {
    background: #ffffff
}

#Top {
    text-align: center;
    background-color: #fff;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    background-size: 44px 44px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

.header-title {
    margin-left:10%;
    float:left;
}

.header-describe {
   /* margin-left:15%;*/
    float:left;
}

.list-group {
    margin-right : 20%;
    maigin-left : 40%;
}

.content {
    margin-top:50px;
}

.article-pre {
    background: #ffffff;
    padding: 3px 10px;
    margin-bottom: 20px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

}

.article-pre-content {
    border-bottom: 1px solid #efefef;
}

.article-pre-footer {
    padding-bottom:20px;
}
.article {
    margin-right : 20%;
    margin-left : 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    background: #ffffff;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.article-title {
    font-size: 31px;
	font-size: 3.1rem;
	line-height: 1.1613;
	/*margin-bottom: 1.1613em;*/
	/*margin-top: 1.1613em;*/
	margin-bottom: 10px;
    padding-bottom: 20px;
	border-bottom: 1px solid #efefef;
}

.article-pre-header {

}
/*

*/
.widget {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 0.95em;
  background: #ffffff;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.widget-title {
  margin: 0;
  padding: 0 0 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.widget ul {
  margin: 0;
  list-style: none;
}

.widget ul li ul,
.widget ul li ol {
  margin-left: 15px;
  margin-bottom: 0;
}

.widget select {
  max-width: 100%;
}

#header-widget {
  float: right;
  padding: 25px 5px 10px;
}

#header-widget ul { border: 0; }

#header .widget-title { display: none; }

#header-widget .widget-content {
  float: left;
  margin-left: 10px;
}
/* layout */
.layout {

}

.layout-content {
  float: left;
  width: 50%;
  maigin-right: 20px;
  margin-bottom: 10px;
  margin-left : 15%;
  margin-top:20px;
  /*margin-right : 20px;*/
  position: relative;
}

.layout-right {
  float: right;
  width: 18%;
  background: #ffffff;
  margin-top:20px;
 /* margin-left : 20px;*/
  margin-right : 15%;
  margin-bottom: 10px;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
   padding: 20px 20px;
   position: relative;
}

.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
}

.cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.content {
    width: 970px;
    margin: 0px auto 0px auto;
}

#Main {
    width: auto;
    margin: 0px 290px 0px 0px;
}

#Rightbar {
    width: 270px;
    float: right;
}

.sep20 {
    height: 20px;
}

.inner {
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
}

.fr {
    float: right;
    text-align: right;
}

.fade {
    color: #ccc;
}

.msl {
    width: 660px;
    border: none;
    resize: none;
    background-color: #f9f9f9;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    margin: 0px;
}

#editor {
    position: relative;
    width: auto;
    height: 600px;
    font-size: 16px;
    line-height: 130%;
}