{% extends 'base.html' %}

{% block content %}
<div id="Wrapper">
<div class="content">
    <div id="Rightbar">

    </div>
    <div id="Main">
        <div class="sep20"></div>
    <div class="box" id="box">
    <div class="cell"><a href="/">V2EX</a> <span class="chevron">&nbsp;›&nbsp;</span> 创作新主题</div>
    <form method="post" action="/new" id="compose">

    <div class="cell"><div class="fr fade" id="title_remaining">120</div>
        主题标题
    </div>
    <div class="cell" style="padding: 0px; background-color: #fff;">
        <textarea class="msl" rows="1" maxlength="120" id="topic_title" name="title"
                  autofocus="autofocus" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空">
        </textarea></div>
    <div class="cell"><div class="fr fade" id="content_remaining">20000</div>
        正文
    </div>
    <div style="text-align: left; border-bottom: 1px solid #e2e2e2; font-size: 14px; line-height: 120%;">
        <textarea maxlength="20000" id="editor" name="content">

        </textarea>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
        {% endblock %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/blog/create">评论</a></li>
                <li><a href="/blog/blogs">日志</a></li>
                <li><a href="/blog/users">用户</a></li>
            </ul>
        </div>
    </div>
    <div id="vm" class="uk-width-2-3">
        <form v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">标题:</label>
                <div class="uk-form-controls">
                    <input v-model="name" name="name" type="text" placeholder="标题" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">摘要:</label>
                <div class="uk-form-controls">
                    <textarea v-model="summary" rows="4" name="summary" placeholder="摘要" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">内容:</label>
                <div class="uk-form-controls">
                    <textarea v-model="content" rows="16" name="content" placeholder="内容" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <a href="/manage/blogs" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
        </form>
    </div>
</body>
</html>-->
