{% extends 'base.html' %}

{% block path %}
<div class="container">
    <div class="breadcrumb">
        当前位置&nbsp;：&nbsp;首页
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="article">
        <h2>
            {{ blog.title }}
        </h2>
        <p>
            {{ blog.article }}
        </p>
    </div>

{% endblock %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>{{ blog.title }}</h2>
<p>{{ blog.article }}</p>
</body>
</html>-->
