<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>czqsole的Blog</h1>
</div>
    {% if blogs %}
        <ur>
            {% for blog in blogs %}
                <li>
                    {{ blog.title }}
                    <a href="blog/{{ blog.id }}/">{{ blog.title }}</a>
                </li>
            {% endfor %}
        </ur>
    {% else %}
        <p>No blog are available.</p>
    {% endif %}
</body>
</html>

<!--
li: 列表
a: 连接
 -->
